rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Images uploaded for posted items.
    match /items/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Images uploaded for chat messages.
    match /messages/{conversationId}/{userId}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Deny everything else by default.
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
